[Unit]
Description=Mender Demo fbi image display

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/bin/fbi -d /dev/fb0 -vt 1 -a /etc/demo-image.png --noverbose

[Install]
WantedBy=sysinit.target
