SUBSYSTEM=="tty", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="6029", ATTRS{serial}=="0C00400FAF6998A35E4051E0F50020C7", SYMLINK+="hc300"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="6029", ATTRS{serial}=="1400000CAF4824615D2829B9F50020C0", SYMLINK+="vm8"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="6029", ATTRS{serial}=="11002015AF4824495D264961F50020C5", SYMLINK+="ender3"
